<div class="container-fluid p-0">
    <app-header></app-header>
    <app-menu  routerLinkActive></app-menu>
    <div class="col-12">
        <img src="../../assets/images/safetybg.jpg" class="w-100" />
    </div>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-6">
                <div class="text-center d-flex justify-content-center gap-2 align-items-center">
                    <div>
                            <img src="../../assets/images/thumbs-down-24.png"  class="w-8"/>
                    </div>
                    <div>
                        <p class="donts">Don'ts</p>
                    </div>
                </div>
                <div class="text-center">
                    <div class="smallborder mt-2 mx-auto"></div>
                </div>
                <div>
                    <div class="donts-list">
                        <ul>
                            <li class="d-flex gap-2">
                                <span>
                                    <img src="../../assets/images/wrong-50.png" class="w-35" />
                                </span>
                                <span class="ml-2">
                                    Don't put fireworks in any container to ignite.
                                </span>
                            </li>
                            <li class="d-flex gap-2">
                                <span>
                                    <img src="../../assets/images/wrong-50.png" class="w-35" />
                                </span>
                                <span>
                                    Never ignite fireworks while holding them. Put them down then ignite them and walk away.
                                </span>
                                
                            </li>
                            <li class="d-flex gap-2">
                                <span>
                                    <img src="../../assets/images/wrong-50.png" class="w-35" />
                                </span>
                                <span>
                                    Any malfunctioning fireworks should be abandoned.
                                </span>
                                
                            </li>
                            <li class="d-flex gap-2">
                                <span>
                                    <img src="../../assets/images/wrong-50.png" class="w-35" />
                                </span>
                                <span>
                                    Use fireworks outdoors, but not on the public thoroughfare.
                                </span>
                            </li>
                            <li class="d-flex gap-2">
                                <span>
                                    <img src="../../assets/images/wrong-50.png" class="w-35" />
                                </span>
                                <span>
                                    Never experiment or make your own fireworks.
                                </span>
                            </li>
                            <li class="d-flex gap-2">
                                <span>
                                    <img src="../../assets/images/wrong-50.png" class="w-35" />
                                </span>
                                <span>
                                    Do not use spurious/ illegal fireworks.
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="text-center d-flex justify-content-center gap-2 align-items-center">
                    <div>
                            <img src="../../assets/images/thumbs-up-24.png"  class="w-8"/>
                    </div>
                    <div>
                        <p class="dos">Do's</p>
                    </div>
                </div>
                <div class="text-center">
                    <div class="smallborder mt-2 mx-auto"></div>
                </div>
                <div>
                    <div class="donts-list">
                        <ul>
                            <li class="d-flex gap-2">
                                <span>
                                    <img src="../../assets/images/correct-50.png" class="w-35" />
                                </span>
                                <span class="ml-2">
                                    Buy the fireworks from the reliable sellers possessing licence.
                                </span>
                            </li>
                            <li class="d-flex gap-2">
                                <span>
                                    <img src="../../assets/images/correct-50.png" class="w-35" />
                                </span>
                                <span>
                                    Always an adult should supervise the use of fireworks.
                                </span>
                                
                            </li>
                            <li class="d-flex gap-2">
                                <span>
                                    <img src="../../assets/images/correct-50.png" class="w-35" />
                                </span>
                                <span>
                                    Safety precautions marked on the fireworks should be strictly followed.
                                </span>
                                
                            </li>
                            <li class="d-flex gap-2">
                                <span>
                                    <img src="../../assets/images/correct-50.png" class="w-35" />
                                </span>
                                <span>
                                    Use a candle or an agarbathi to ignite the fireworks.
                                </span>
                            </li>
                            <li class="d-flex gap-2">
                                <span>
                                    <img src="../../assets/images/correct-50.png" class="w-35" />
                                </span>
                                <span>
                                    Always keep a bucket of water at hand to extinguish an incipient fire.
                                </span>
                            </li>
                            <li class="d-flex gap-2">
                                <span>
                                    <img src="../../assets/images/correct-50.png" class="w-35" />
                                </span>
                                <span>
                                    Aerial fireworks should be used in a safe landing zone.
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
                <div class="col-12">
                    <div class="text-center d-flex justify-content-center gap-2 align-items-center">
                        <div>
                            <p class="dos font-size-32">Eco Friendly</p>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="smallborder mt-2 mx-auto"></div>
                    </div>
                    <div class="text-center">
                        <p class=" font-weight-bold text-xl font-medium text-center py-3 mb-0">Our crackers are free of harmful components.</p>
                    </div>
                </div>
        </div>
    </div>
</div>
<app-footer></app-footer>