.font-bold {
    font-weight: 700;
}

.text-custom-blue {
    color: #123E84;
}
.lg\:text-xl {
    font-size: 1.25rem;
}
.text-gray-800 {
    --text-opacity: 1;
    color: #2d3748;
    font-weight: bold;
}
.pl-0 { padding-left: 0px;}
.pr-0 { padding-right: 0px;}
.btn-submit {
    width: 120px;
    margin: auto;
    border-radius: 5px;
    color: #FFF;
    --bg-opacity: 1;
    background-color: #9b2c2c;
    background-color: rgba(155, 44, 44, var(--bg-opacity));
}