
<div class="container-fluid p-0">
        <app-header></app-header>
        <app-menu routerLinkActive></app-menu>
        <app-slider></app-slider>
        <section class="my-4">
            <div class="x-auto flex px-5 py-2 md:flex-row flex-col items-center">
                <div class="row">
                    <div class="col-6">
                        <img src="../../assets/images/homeimg.png" class="img-fluid" />
                    </div>
                    <div class="col-6">
                        <h1 class="title-font mb-2 font-medium text-center" 
                        style="font-family: Signika Negative, sans-serif;">
                            <span class="text-red-600">Welcome to JegaJothi Crackers</span>
                        </h1>
                        <div class="smallborder1 mx-auto"></div>
                        <div class="pl-4">
                            <p class="leading-relaxed mt-3">Jegajothi Crackers is a prominent wholesale and retail cracker shop in Sivakasi. 
                            We offer high-quality products at low prices. We introduce new varieties of kid's special fireworks every year.
                            Our main motto is to supply quality products to our valuable customers, helping them make their occasions colorful
                             with our quality crackers.</p>
                             <p class="mb-5 leading-relaxed text-red-900">We also supply the crackers for christmas, New year, Pongal, Marriage, Temple and Family functions.<br> We are available to take orders Round the year.</p>
                        </div>
                        <div class="flex justify-center">
                            <a class="inline-flex text-white border-0 py-2 px-6 focus:outline-none rounded text-lg bg-red-800" 
                            href="/contact-us">Contact Us</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="bg-4">
                <h1 class="text-2xl font-bold mt-10 text-yellow-200">We are one of the leading sellers of Sivakasi Firecrackers </h1>
                <h1 class="text-xl text-center justify-center text-yellow-200">We are available On 24 x 7 Support. Order and let's Purchase</h1>
                <div class="text-center">
                    <button id="button" class="rounded px-4 py-2 btn-about"><a href="/about-us">About Us</a></button>
                </div>
            </div>
        </section>
        <section>
            <div class="">
                <div class="col-sm-12">
                    <h1 class="text-3xl text-center justify-center mt-5" style="font-family:Signika Negative, sans-serif; 
                    color: rgb(70, 115, 204); font-weight: bold;">Why Customers Choose Us</h1>
                    <div class="smallborder mt-3 mx-auto"></div>
                        <p class="font-medium lg:text-lg text-base text-gray-600 text-center pt-4">We offer different varieties of fire crackers products which suits your needs. 
                            Our efforts and services have created a positive touch in the heart of our customers. 
                        </p>
                        <div class="col-sm-12">
                            <marquee>
                                <div class="d-flex">
                                    <div class="col d-flex text-center">
                                        <div>
                                            <img src="../../assets/images/JJ-01.png" class="img-fluid" />
                                            <h2 class="lg:text-lg flex text-sm pt-2 lg:pt-0 text-red-600 font-semibold text-center">  18 Items gift box </h2>
                                        </div>
                                    </div>
                                    <div class="col d-flex text-center">
                                        <div>
                                            <img src="../../assets/images/JJ-02.png" class="img-fluid" />
                                            <h2 class="lg:text-lg flex text-sm pt-2 lg:pt-0 text-red-600 font-semibold text-center"> 25 Items gift box </h2>
                                        </div>
                                    </div>
                                    <div class="col d-flex text-center">
                                        <div>
                                            <img src="../../assets/images/JJ-03.png" class="img-fluid" />
                                            <h2 class="lg:text-lg flex text-sm pt-2 lg:pt-0 text-red-600 font-semibold text-center"> 30 Items gift box </h2>
                                        </div>
                                    </div>
                                    <div class="col d-flex text-center">
                                        <div>
                                            <img src="../../assets/images/JJ-04.png" class="img-fluid" />
                                            <h2 class="lg:text-lg flex text-sm pt-2 lg:pt-0 text-red-600 font-semibold text-center"> 40 Items gift box </h2>
                                        </div>
                                    </div>
                                    <div class="col d-flex text-center">
                                        <div>
                                            <img src="../../assets/images/JJ-05.png" class="img-fluid" />
                                            <h2 class="lg:text-lg flex text-sm pt-2 lg:pt-0 text-red-600 font-semibold text-center"> 50 Items gift box </h2>
                                        </div>
                                    </div>
                                    <div class="col d-flex text-center">
                                        <div>
                                            <img src="../../assets/images/JJ-06.png" class="img-fluid" />
                                            <h2 class="lg:text-lg flex text-sm pt-2 lg:pt-0 text-red-600 font-semibold text-center"> 45 Items gift box </h2>
                                        </div>
                                    </div>
                                    <div class="col d-flex text-center">
                                        <div>
                                            <img src="../../assets/images/JJ-07.png" class="img-fluid"/>
                                            <h2 class="lg:text-lg flex text-sm pt-2 lg:pt-0 text-red-600 font-semibold text-center"> 11 Items gift box </h2>
                                        </div>
                                    </div>
                                    <div class="col d-flex text-center">
                                        <div>
                                            <img src="../../assets/images/JJ-08.png" class="img-fluid"/>
                                            <h2 class="lg:text-lg flex text-sm pt-2 lg:pt-0 text-red-600 font-semibold text-center"> 35 Items gift box </h2>
                                        </div>
                                    </div>
                                    <div class="col d-flex text-center">
                                        <div>
                                            <img src="../../assets/images/JJ-09.png" class="img-fluid"/>
                                            <h2 class="lg:text-lg flex text-sm pt-2 lg:pt-0 text-red-600 font-semibold text-center"> 21 Items gift box </h2>
                                        </div>
                                    </div>
                                </div>
                            </marquee>
                        </div>
                </div>
            </div>           
    </section>

<app-footer></app-footer>

  </div>


